.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    flex: 1;
    min-height: 100%;
    gap: 1rem;
}

.block:not(:last-child) {
    border-right: 1px solid #dfe1e4;
} 